*{
    margin: 0;
    padding: 0;
        
}
.mobile{
    width: 100%;
    max-width: 100%;
    padding: 20px; /* reduce padding */
    box-sizing: border-box;
    margin: 0;
    padding:20px;
   background-image: url(./clouds-sky-vertical-shot.jpg);
   background-size: cover;

    
    
}
.pad{
    padding-top: 30px;
}
.h1{
    text-align: center;
    color: rgb(38, 38, 107);
    padding: 30px 0;

}
.h11{
    
    color: rgb(38, 38, 107);
   padding-bottom: 10px;

}
.para1{
   
    display: flex;
     justify-content: center; 
     font-size: 20px;
     padding-top: 20px;
     white-space: normal;
     word-wrap: break-word;
     color:rgb(64, 64, 103) ;
}
.h2{
    color: rgb(2, 92, 2);
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    
}
.h3{
    color: rgb(2, 92, 2);
    padding-top: 50px;
   
}
.gift-container {
    text-align: center;
    margin-top: 50px;

   border: 2px dotted rgb(234, 30, 30);
   padding: 20px;
   background-color: #fde4ed;
   
}

.tap-text {
    font-size: 20px;
    font-weight: bold;
    color: #8e24aa;
    animation: blink 1.5s infinite;
    margin-bottom: 10px;
    
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

.gift-box {
    width: 150px;
    height: 150px;
    margin: auto;
    cursor: pointer;
}

.gift-img {
    width: 100%;
    transition: transform 0.4s ease;
}

.gift-img.open {
    transform: scale(1.2) rotate(10deg);
}

.popup-msg {
    font-size: 24px;
    font-weight: bold;
    color: #d81b60;
    margin-top: 20px;
    display: none;
}
/* FLOATING HEARTS ANIMATION */
.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* so user can still click other things */
    overflow: hidden;
    z-index: 0; 
}

.heart {
    position: absolute;
    bottom: -20px;
    font-size: 18px;
    color: rgba(255, 0, 100, 0.8);
    animation: floatUp 5s linear infinite;
    opacity: 0.8;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-120vh) scale(1.8);
        opacity: 0;
    }
}
.flex2{
    display: flex;
    flex-direction: column;
   
   padding: 60px 0;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   gap: 10px;
   color: #d81b60;
}
.img{
    padding: 0 !important;
}

